<div ng-controller="playctrl">

    <form>
        <table class="table table-bordered">
            <thead>
            <th style="width:5%;">ID</th>
                <th style="width:15%;">Role</th>
                <th style="width:10%;">Original ID</th>
                <th style="width:10%;">Name</th>
            </thead>
            <tbody>
            <tr ng-repeat="emp in some">
                <td>{{$index+1}}</td>
                
                <td><span name="role">{{emp.role}}</span> </td>
                <td><span name="id" >{{emp.id}}</span></td>
                <td><span name="name" >{{emp.name11}}</span></td>
            </tr>
            </tbody>
        </table>
    </form>
    <div>
        Role
        <p> 1 : Member </p>
        <p>2 : Admin</p>
    </div>
</div>