<div ng-controller="totalctrl">
    <div id="loading" ng-if="loading">
        <img id="loading-image" src="../assets/img/loading.gif" alt="Loading..." />
    </div>
    <form>
        <table class="table table-bordered">
            <thead>
                <th style="width:10%;">Total Members</th>
            </thead>
            <tbody>
                <tr>
                    <td><span name="name">{{totalM}}</span></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>