<div>
    <h1>7 Best Makeup Products You Need In Your Stash</h1>
    <div>
        <h2>Laura Mercier Tinted Moisturizer </h2>
        <a><img src="/assets/img/cosmetics/LauraMercier.jpg" width="400px"></a>
        <p>$47.00 </p>
        <p>Just when you thought this cult-favorite tinted moisturizer couldn’t get any better…it effing did. With a brand-new formula that launched this year (with super moisturizing ingredients, like macadamia oil), and an expanded shade range (bless!), you need to put this on your face RIGHT NOW. It gives you that perfect, sheer, no-makeup makeup look with a little bit of added glow. </p>
    </div>
    <div>
        <h2>MAC Studio Fix Soft Matte Foundation Stick </h2>
        <a><img src="/assets/img/cosmetics/nc35.jpg" width="400px"></a>
        <p> $31.00</p>
        <p> I don’t know about you but my foundation slides off my face by lunchtime and I look legit scary. So, because I don’t want to carry a massive bottle of liquid foundation to touch up during the day, I throw this foundation stick in my bag. The formula is really blendable and it leaves behind a matte finish that won’t dry your skin out or settle into your fine lines.</p>
    </div>
    <div>
        <h2> Clove and Hallow FlexLash Mascara</h2>
        <a><img src="/assets/img/cosmetics/CloveandHallow.jpg" width="400px"></a>
        <p>$19.00 </p>
        <p> This cruelty-free and vegan mascara is a dream. The thin formula locks your hairs in place without weighing them down, and the short bristles are able to grab and coat even your smallest of lashes.</p>
    </div>
    <div>
        <h2> Marc Jacobs Beauty Highliner Liquid Eyeliner</h2>
        <a><img src="/assets/img/cosmetics/MarcJacob.jpg" width="400px"></a>
        <p>$27.00 </p>
        <p>The tip of this liquid eyeliner is so sharp it could honestly prick your finger. Kidding, but, seriously—it’s precise and glides on like a charm, so you won’t have to stress about tugging or pulling. Plus, the color payoff is a 10/10 and the waterproof formula lasts for hours. </p>
    </div>
    <div>
        <h2>Pat McGrath Labs BlitzTrance Lipstick </h2>
        <a><img src="/assets/img/cosmetics/Lipstick.jpg" width="400px"></a>
        <p>$20.00 </p>
        <p>Pat McGrath is the “Mother of Makeup,” and this lipstick is her golden child. Because of the Brazil-nut oil in the formula, it not only swipes on super easily, but it also hydrates your lips while leaving them with an Insta-worthy glitter finish. </p>
    </div>
    <div>
        <h2> Best Makeup Products: Kevyn Aucoin Foundation Balm</h2>
        <a><img src="/assets/img/cosmetics/KevynAucoin.jpg" width="400px"></a>
        <p> $52.00</p>
        <p> The other members of Cosmo’s beauty team have been raving about this cream foundation, so I had to try it. And, guys, it lived up to every word. It gives you a full coverage, matte finish that makes you look FaceTuned IRL. And, it’s filled with hyaluronic acid and vitamin E, two MVP ingredients that work to hydrate and condition your skin.</p>
    </div>
    <div>
        <h2> Marc Jacobs Beauty Accomplice Concealer & Touch-Up Stick</h2>
        <a><img src="/assets/img/cosmetics/MarcJacobs.jpg" width="400px"></a>
        <p>$32.00 </p>
        <p> I find that a lot of stick concealers end up looking streaky on my face, but that’s not the case with this one. It’s creamy, smooth, and it won’t leave streaks on top of your foundation. The blendable formula also gives you medium coverage, but you can easily build it up to full coverage if you need to fake a full night’s sleep.</p>
    </div>
    <form>
    <input type="email" placeholder="emailid" pattern="[^ @]*@[^ @]*" required>
        <button>Subscribe</button>
    </form>
    <p>over page</p>
</div>