<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
      </li>

      <li class="divider"></li>
      <li class="nav-title">
        UI Elements
      </li>
      <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.components')}">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.components')}" href="#"><i class="icon-puzzle"></i> GYM</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.gym.totalusers"><i class="icon-puzzle"></i> Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.gym.Strength"><i class="icon-puzzle"></i> Strength</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.gym.Cardio"><i class="icon-puzzle"></i> Cardio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.gym.uploadpics"><i class="icon-puzzle"></i> Upload</a>
          </li>
		    </ul>
      </li>
      <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.icons')}">
        <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.icons')}" href="#"><i class="icon-star"></i> Beauty Parlor</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.bueaty.cosmetics"><i class="icon-star"></i> Cosmetics <span class="badge badge-success">NEW</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.bueaty.Manicure"><i class="icon-star"></i> Manicure <span class="badge badge-secondary">4.7</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.bueaty.Pedicure"><i class="icon-star"></i> Pedicure</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>