<nav class="top-nav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> DASHBOARD <span class="badge badge-info">NEW</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" ui-sref-active="active" ui-sref="app.main2"><i class="icon-speedometer"></i> DASHBOARD 2 <span class="badge badge-warning">NEW</span></a>
    </li>

    <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.components')}">
      <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.components')}" href="#"><i class="icon-puzzle"></i> GYM</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" ui-sref-active="active" ui-sref="app.components.buttons"><i class="icon-puzzle"></i> Cardio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref-active="active" ui-sref="app.components.strength"><i class="icon-puzzle"></i> Strength</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref-active="active" ui-sref="app.components.Both"><i class="icon-puzzle"></i> Both</a>
        </li>

      </ul>
    </li>
    <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.icons')}">
      <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.icons')}" href="#"><i class="icon-star"></i> Beauty Parlor</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" ui-sref-active="active" ui-sref="app.icons.Facial"><i class="icon-star"></i> Facial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref-active="active" ui-sref="app.icons.Manicure"><i class="icon-star"></i> Manicure <span class="badge badge-secondary">4.7</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref-active="active" ui-sref="app.icons.Pedicure"><i class="icon-star"></i> Pedicure</a>
        </li>
      </ul>
    </li>
    <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.plugins')}">
      <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.plugins')}" href="#"><i class="icon-energy"></i> Plugins</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" ui-sref-active="active" ui-sref="app.plugins.calendar"><i class="icon-calendar"></i> CALENDAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref-active="active" ui-sref="app.plugins.notifications"><i class="icon-info"></i> NOTIFICATIONS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref-active="active" ui-sref="app.plugins.sliders"><i class="icon-equalizer"></i> SLIDERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref-active="active" ui-sref="app.plugins.tables"><i class="icon-list"></i> TABLES</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref-active="active" ui-sref="app.forms"><i class="icon-note"></i> FORMS <span class="badge badge-danger">NEW</span></a>
    </li>
	<li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.users"><i class="icon-calculator"></i> Users</a>
     </li>
	<li class="nav-item">
    <a class="nav-link" ui-sref-active="active" ui-sref="app.users"><i class="icon-calculator"></i> Member</a>
  </li>
	<li class="nav-item">
    <a class="nav-link" ui-sref-active="active" ui-sref="app.users"><i class="icon-calculator"></i> Total</a>
  </li>  
	<li class="nav-item">
   <a class="nav-link" ui-sref-active="active" ui-sref="app.users"><i class="icon-calculator"></i> Play</a>
 </li>
    <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.uikits')}">
      <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.uikits')}" ui-sref-active="active" href="#"><i class="icon-layers"></i> UI Kits</a>

      <ul class="nav-dropdown-items">
        <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.uikits.invoicing')}">
          <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.uikits.invoicing')}" href="#"><i class="icon-speech"></i> INVOICING</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" ui-sref-active="active" ui-sref="app.uikits.invoicing.invoice"><i class="icon-speech"></i> INVOICE</a>
            </li>
          </ul>
        </li>
        <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.uikits.email')}">
          <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.uikits.email')}" href="#"><i class="icon-speech"></i> EMAIL</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" ui-sref-active="active" ui-sref="app.uikits.email.inbox"><i class="icon-speech"></i> INBOX</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ui-sref-active="active" ui-sref="app.uikits.email.message"><i class="icon-speech"></i> MESSAGE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ui-sref-active="active" ui-sref="app.uikits.email.compose"><i class="icon-speech"></i> COMPOSE</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>

  </ul>
</nav>