<div class="app flex-row align-items-center" ng-controller="searchctrl">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card mx-4">
            <div class="card-body p-4">
              <h1>Forgot Passwrod</h1>
              <p class="text-muted">Email Id</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" ng-model="emailid">
                    <button ng-click="searchid()"> Search </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>